@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181a1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: left;
  margin-bottom: 1em;
}

.container {
  height: 80vh;
  width: 100vw;
  justify-content: center;
  background-size: cover;
  background-image: url("../public/png/tops_logo.png");
  background-position: center;
  display: grid;
  grid-template-columns: 0.3fr auto 1fr;
  grid-template-rows: 320px 1fr;
}

.card {
  height: 18vh;
  width: 5vw;
  min-width: 90px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fdfdfd;
  display: flex;
  margin-bottom: 5%;
  border-radius: 20px;
  border: 2px solid;
  border-color: rgb(145, 145, 145);
}

.master {
  grid-area: 3 / 2 / 3 / 2;
  margin-left: 30vw;
  rotate: 30deg;
}

.child {
  grid-area: 3 / 2 / 3 / 2;
  margin-left: 32vw;
  rotate: 30deg;
}

.card img {
  height: 20vh;
  width: 10vw;
  min-width: 90px;
}